#about-me {
    background-image: url("/static/img/aboutme.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.prolog {
    margin-left: 50px;
    font-family: Radley;
    font-size: 36px;
    line-height: 45px;
}

.data-diri {
    margin-left: 50px;
    font-family: radley;
    font-size: 24px;
    line-height: 30px;
}