.myCreate {
    background: rgb(39, 196, 250);
    background: radial-gradient(circle, rgba(39, 196, 250, 1) 0%, rgba(19, 181, 133, 1) 100%);
    font-family: Sarala;
}

.btn {
    font-family: Lobster;
}

.posisi {
    margin-left: 100px;
    font-size: 22px;
}