#resume {
    background: rgb(250, 165, 39);
    background: linear-gradient(180deg, rgba(250, 165, 39, 1) 0%, rgba(214, 212, 32, 1) 100%);
}

.resume-p {
    margin-left: 98px;
    padding-top: 20px;
    font-family: Lobster;
    font-size: 64px;
    margin-bottom: 82px;
}

.resume-bold {
    font-family: Reem Kufi;
    font-size: 36px;
    text-align: center;
    margin: 20px;
}

.resume-isi {
    font-size: 24px;
    font-family: Sarala;
    margin-left: 69px;
    margin-bottom: 100px;
}

.resume-column {
    float: left;
    width: 50%;
}

.resume-row:after {
    content: "";
    display: table;
    clear: both;
}

.resume-skill {
    font-family: Rakkas;
    font-size: 36px;
    margin-top: 30px;
    line-height: 40px;
}

.star1 {
    height: 61px;
    width: 57px;
}

.star0 {
    height: 50px;
    width: 50px;
}