.mySchedule {
    background: rgb(39, 196, 250);
    background: radial-gradient(circle, rgba(39, 196, 250, 1) 0%, rgba(19, 181, 133, 1) 100%);
}

.schedule-box {
    margin: 20px;
    width: 200px;
    border: 2px solid whitesmoke;
}

.schedule-foto {
    border-radius: 50%;
    width: 50px;
    position: center;
}

.schedule-style {
    padding: 20px;
    font-family: Lobster;
    font-size: 18px;
}

.btn {
    margin: 20px;
    font-family: Sarala;
}