{% load static%}

<!DOCTYPE html>
<html lang="en">

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet" type="text/css">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <link rel="icon" href="/static/img/MFA.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Create Schedule | MFiqriA</title>
</head>

<body class="myCreate">
    {% include 'tools/navig.html' %}
    {% block title %} 
    <center> <h1 style="color: whitesmoke; margin-top : 50px;"> {{page_title}} </h1> </center>
    {% endblock title %}

    <div>
        {% block contents %}
            
            <form method='POST'>
            {% csrf_token %}
                {% for form in post_form %}
                    <div class"form-group col-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="posisi col-12 col-sm-12 col-md-12 col-lg-6">
                            {{form.label}}
                        </div>
                        <div class="posisi col-12 col-sm-12 col-md-12 col-lg-6">
                            {{form}}
                        </div>
                    </div>
                {% endfor %} <br>
                <button type="Submit" class="btn btn-success btn-block btn-lg"> Buat </button>   
            </form>
        {% endblock contents %}
    </div>
</body>

</html>