{% load static %}

<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet" type="text/css">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
    <link rel="icon" href="/static/img/MFA.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>My Schedule | MFiqriA</title>
</head>

<body class="mySchedule">
    {% include 'tools/navig.html' %}
    <div class="box-container">
        <div class="row justify-content-center">

            {% for schedule in schedules %}
            <form class="schedule-box">

                <div class="schedule-style">
                 <img class="schedule-foto" src="{% static 'img/cute.png' %}"><br>
                    {{schedule.nama}} <br>
                    Hari = {{schedule.hari}} <br>
                    Tanggal = {{schedule.tanggal}} <br>
                    Jam = {{schedule.jam}} <br>
                    Tempat = {{schedule.tempat}} <br>
                    Kategori = {{schedule.kategori}} <br> <br>
                    <a href = "{% url 'delete' schedule.id%}" class="btn btn-danger"> Delete </a>
                </div>
            </form>
            {% endfor %}
        </div>
    </div>
</body>

</html>