{% load static %}

<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet" type="text/css">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="icon" href="/static/img/MFA.png">
    <title>MFiqriA</title>
</head>

<body>

    <header>
        {% include 'tools/navig.html' %}
        <div class="identity row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12">
                <img class="img-foto" src="{% static 'img/fiqri.png' %}" width=140px heigth=140px>
                <h1 class="identity-text" style="font-family: Lobster; font-size: 48px;">Muhammad Fiqri Adrian</h1>
                <h2 class="identity-text" style="font-family: Sarala; font-size: 30px">Student Information Systems, Universitas Indonesia</h2>

                <a target="_blank" rel="noopener" href="https://web.facebook.com/mfiqria66" title="MFiqriA"><img class="sosmed" src="/static/img/fb.png" width=50px height=50px style="border-radius: 7px;"></a>
                <a target="_blank" rel="noopener" href="https://twitter.com/mfiqria" title="@mfiqria"><img class="sosmed" src="/static/img/twitter.png" width=50px height=50px style="border-radius: 68.3121px;"></a>
                <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/itsmefiqri/" title="itsmefiqri"><img class="sosmed" src="/static/img/linkedIn.png" width=50px height=50px style="border-radius: 7px;"></a>
                <a target="_blank" rel="noopener" href="https://www.instagram.com/mfiqriad/?hl=en" title="@mfiqriad"><img class="sosmed" src="/static/img/ig.png" width=50px height=50px style="border-radius: 13px;"></a>
            </div>
        </div>
    </header>
    <div id="about-me">
        <p style="font-family: Lobster; font-size: 48px; margin-left: 70px;">About Me</p><br><br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="prolog">
                    <p>
                        Hey !<br> I’m Muhammad Fiqri Adrian,<br> and I am a student majoring in <br> Information Systems at <br> Universitas Indonesia. I am <br> very interested in business <br> world and programming. I also <br> like riddle and creepypasta<br>
                        <br> Feel free to explore my site.<br> Thank you.<br>
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="data-diri">
                    <b style="font-size: 40px;">Personal Details</b> <br><br>
                    <p>
                        Name : Muhammad Fiqri Adrian<br> Place/Date of Birth : Tembilahan, May 10th 2000<br> Gender : Male<br> School : Universitas Indonesia<br> Majority : Information Systems<br> Citizenship : Indonesia<br> Religion : Islam<br> Marital
                        Status : Single<br> Address : Universitas Indonesia’s Dormitory<br> Phone Number : 082391222556<br> E-mail : mfiqria66@gmail.com <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% include 'tools/scripts.html' %}
</body>

</html>