{% load static %}

<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Radley" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Reem Kufi" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet" type="text/css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/mail.css' %}">
    <link rel="icon" href="/static/img/MFA.png">
    <title>MFiqriA</title>
</head>

<body id="mail" class="containter-responsive">
    {% include 'tools/navig.html' %}
    <br><br>

    <b class="mailme-b">Mail Me</b>
    <div class="resume-row row">
        <div class="resume-column col-12 col-sm-12 col-md-12 col-lg-6">
            <p class="p-text">
                If you’d like to get in touch with me, whether to hire me, request additional contact information, or just to say hi, you can contact me using the form below or my e-mail address: mfiqria66@gmail.com Thanks for reaching out to me!<br>
                <img src="https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif" alt="cute" width="250px">
            </p>
        </div>
        <div class="resume-column col-12 col-sm-12 col-md-12 col-lg-6">
            <p class="p-message">
                Name : <input type="text" width="100px"> <br> Email : <input type="text" width="100px"> <br> Message :<br>
                <textarea placeholder="What do you want to tell me?" style="height:180px; width: 400px; padding-right: 20px;"></textarea> <br>
                <button style="background-color: green; ;">Submit</button>
            </p>
        </div>
    </div>
    {% include 'tools/scripts.html' %}
</body>

</html>